<form id ="login"action="/login" method= "POST">
{{Message}}
<fieldset>
    <legend><img src="seophoelogogracrop.png"></legend>
    <p>Sign in to your account</p>
    <label for="email">Please enter your email</label><br>
    <input type="email" id ="email" name="email" value ={{email}}> <br>
     {{#each errormessage}}
    <div id ="Error">{{this.emailError}}</div>
    {{/each}}

    <label for="password">Please enter your Password</label><br>
    <input type="password" name ="password" value ={{password}}><br>
    {{#each errormessage}}
    <div id ="Error">{{this.passwordError}}</div><br>
    {{/each}}
    <input id="button" type="submit" value="Login">
</fieldset>
<p>You don't have an account?<a href ="/registration" id = "signup">Sign up</a></p>
  
</form>