

<form id="regi" action="/registration" method="POST">


<fieldset>
    <legend><img src="seophoelogogracrop.PNG"></legend>
    <p>Create an account</p>
    <label for="name">Please enter your Name</label><br>
    <input type="text" id="name" name="name" value='{{name}}'> <br>
    {{#each errormessage}}
    <div id ="Error">{{this.nameError}}</div>
    {{/each}}

    <label for="email">Please enter your mail</label><br>
    <input type="text" id ="email" name="email" value={{email}}> <br>
      {{#each errormessage}}
       <div id ="Error">{{this.emailError}}</div>
       {{/each}}

    <label for="password">Please enter your Password</label><br>
     <input type="password" name ="password" value={{password}}> <br>
       {{#each errormessage}}
    <div id ="Error">{{this.passwordError}}</div>
    {{/each}}

    <label for="passwordAgain">Please enter your Password Again</label><br>
     <input type="password" name ="passwordAgain" value={{passwordagain}}> <br>
     {{#each errormessage}}
   <div id ="Error">{{this.passwordAgainerror}}</div>
   {{/each}}

    <input id="button" type="submit" value="Register">
</fieldset>
    <p>Already Have an account?<a href ="/login" id = "signin">Sign in</a></p>
</form>