<div id="productsPage">
    <div id="sidebar">
        <ul>
            <li><a href="/product">Automotive</a></li>
            <li><a href="/product">Arts & Crafts</a></li>
            <li><a href="/product">Beauty and personal care</a></li>
            <li><a href="/product">Computers</a></li>
            <li><a href="/product">Electronics</a></li>
            <li><a href="/product">Woman's Fashion</a></li>
            <li><a href="/product">Men's Fashion</a></li>
            <li><a href="/product">Home and Kitchen</a></li>
            <li><a href="/product">Toys and Games</a></li>
        </ul>
    </div>
    <div id="products">
        
            {{#each productPic}}
            <div id="eachproducts">
                {{#if this.Bestseller}}
                <img id="besticon" src ="bestseller.PNG" ali="bestseller" width="40" height="40">
                {{/if}}
                <img id="productpic" src="{{this.source}}" ali="{{this.name}}">
                <p>{{this.name}}<br>->${{this.price}}</p>
                <p>Category: {{this.category}}</p>
                
            </div>
            {{/each}}
        
    </div>
</div>